---
layout: "details"
---

<% c = locals[:project] %>
<% content_for(:title, c[:title]) %>
<% content_for(:description, c[:description]) %>
<% content_for(:keywords, c[:keywords]) %>

<div class="course-detail-header">

  <div class="container">

    <div class="info clearfix">

      <div class="content">
        <h2><%= c[:title] %></h2>
      </div>

      <ul class="meta-list">
        <li>
          <div class="meta-category">
            <div class="content">
              <span class="text-muted mt-3 block">Categoria</span>
              <h6><%= c[:area] %></h6>
            </div>
          </div>
        </li>

        <li>
          <div class="meta-category">
            <div class="content">
              <span class="text-muted mt-3 block">Duración</span>
              <h6><%= c[:duration] %> Horas</h6>
            </div>
          </div>
        </li>

      </ul>

    </div>

  </div>

</div>

<div class="equal-content-sidebar-wrapper detail-page-wrapper">

  <div class="equal-content-sidebar-by-gridLex">

    <div class="container">

      <div class="GridLex-grid-noGutter-equalHeight">

        <div class="GridLex-col-3_sm-4_xs-12_xss-12 hidden-xs">

          <aside class="sidebar-wrapper">

            <div class="scrollspy-sidebar alt-style-01 affix">

              <ul class="scrollspy-sidenav">

                <li class="heading"><h5>Menu del Curso</h5></li>
                <li>

                  <ul class="nav faq-nav">
                    <li><a href="#course-detail-section-0" class="anchor">Introducción del Curso</a></li>
                    <li><a href="#course-detail-section-1" class="anchor">Modulos del Curso</a></li>
                  </ul>

                </li>

              </ul>

              <div class="clearfix mb-20 mt-30">
                <a href="../../../cotizacion/presenciales/<%= c[:course_link] %>/" class="btn btn-primary btn-block btn-md">Solicitar cotización</a>
              </div>

              <div class="call-featiured">

                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>

                <div class="content">
                  <h5>Llama para mas información</h5>
                  <p class="phone-number">
                    (938) 15 32 270
                  </p>
                </div>

              </div>

            </div>

          </aside>

        </div>

        <div class="GridLex-col-9_sm-8_xs-12_xss-12">

          <div class="content-wrapper">

            <div class="detail-content-wrapper">

              <div id="course-detail-section-0" class="course-detail-section">

                <div class="section-title text-left mb-20">
                  <h3>Introducción del Curso</h3>
                </div>

                <div class="course-intro">

                  <div class="listing-box clearfix">

                    <h5>Resumen del Curso</h5>

                    <ul class="listing-box-list">

                      <li>
                        <div class="row gap-10">
                          <div class="col-xs-5 col-sm-6"><i class="fa fa-clock-o mr-5"></i> Duración</div>
                          <div class="col-xs-7 col-sm-6 text-right font600"><%= c[:duration] %> Horas</div>
                        </div>
                      </li>

                      <li>
                        <div class="row gap-10">
                          <div class="col-xs-5 col-sm-5"><i class="fa fa-pencil-square-o mr-5"></i> Módulos</div>
                          <div class="col-xs-7 col-sm-7 text-right font600"> <%= c[:modules] %> modulos</div>
                        </div>
                      </li>

                      <!--

                      <li>
                        <div class="row gap-10">
                          <div class="col-xs-5 col-sm-5"><i class="fa fa-file-video-o mr-5"></i> Tipo</div>
                          <div class="col-xs-7 col-sm-7 text-right font600"> Online</div>
                        </div>
                      </li>

                      -->

                      <!--

                      <li>
                        <div class="row gap-10">
                          <div class="col-xs-5 col-sm-5"><i class="fa fa-users mr-5"></i> No. Estudiantes</div>
                          <div class="col-xs-7 col-sm-7 text-right font600"> Ilimitado</div>
                        </div>
                      </li>

                      -->

                      <li>
                        <div class="row gap-10">
                          <div class="col-xs-5 col-sm-5"><i class="fa fa-graduation-cap"></i> Incluye</div>
                          <div class="col-xs-7 col-sm-7 text-right font600"> Certificado</div>
                        </div>
                      </li>

                    </ul>

                  </div>

                </div>

                <h5 class="text-uppercase font700">Sobre el curso</h5>

                <div>
                  <%= c[:course_summary] %>
                </div>

                <h6 class="spacing-10 font600">Quién debe asistir</h6>

                <div>
                  <%= c[:who_should_assist] %>
                </div>

                <h6 class="spacing-10 font600">Otros requisitos (por ejemplo, equipo necesario)</h6>

                <div>
                  <%= c[:other_requirements] %>
                </div>

                <h6 class="spacing-10 font600">Evaluación</h6>

                <div>
                  <%= c[:evaluation] %>
                </div>

                <h6 class="spacing-10 font600">Resultados</h6>

                <div>
                  <%= c[:result] %>
                </div>

              </div>

              <div id="course-detail-section-1" class="course-detail-section">

                <div class="section-title text-left mb-20">

                  <h3>Modulos del Curso</h3>

                </div>

                <div class="course-lession-wrapper-2">

                  <% c["module_list"].each do |m| %>
                    <a class="course-lession-item-2">

                      <div class="content-top">

                        <div class="row">

                          <div class="col-xs-12 col-sm-6 mb-15">

                            <span class="lebal-lesson">Modulo <%= m.number %></span>

                          </div>

                        </div>

                      </div>

                      <div class="content">

                        <h5><%= m.title %></h5>

                        <p><%= m.description %></p>

                      </div>

                    </a>
                  <% end %>

                </div>

              </div>

              <a href="../../../cotizacion/presenciales/<%= c[:course_link] %>/" class="btn btn-primary btn-block btn-md hidden-md-up">Solicitar cotización</a>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
