---
title: Solicitud de cotización
layout: quotation
description: Solicita tu cotización y nos pondremos en contacto lo mas pronto posible.
keywords: cotizacion, solicitud
---

<% c = locals[:project] %>

<div class="equal-content-sidebar-wrapper detail-page-wrapper">

				<div class="equal-content-sidebar-by-gridLex">

					<div class="container">

						<div class="GridLex-grid-noGutter-equalHeight">

							<div class="GridLex-col-3_sm-4_xs-12_xss-12">

								<aside class="sidebar-wrapper">

									<div class="scrollspy-sidebar alt-style-01 affix-top">

										<div class="sidebar-header clearfix">
											<h4 class="mb-15">Curso a impartir:</h4>
										</div>

										<div class="course-item alt-no-bottom bg-light-02 mb-30">

												<div class="course-item-image">
													<img src="<%= c[:course_image] %>" alt="Image" class="img-responsive">
												</div>
												<div class="course-item-content">
													<h3 class="text-primary"><%= c[:title] %></h3>
												</div>

										</div>

									</div>

								</aside>

							</div>

							<div class="GridLex-col-9_sm-8_xs-12_xss-12">

								<div class="content-wrapper">

									<div class="payment-content-wrapper mb-0">

										<form action="https://api.formbucket.com/f/<%= c[:form_id] %>" method="post" target="_blank">	

										<div class="row">

											<div class="col-xs-12 col-md-8">
													<div class="section-title text-left mb-20">
														<h3 class="mb-10">Formulario de cotización</h3>
														<p class="text-sm">Por favor llene el formulario para poder enviarle la cotización. </p>
													</div>
											</div>

										</div>

											<div class="payment-content-box">

												<div class="row gap-20">

													<div class="col-xs-12 col-sm-6 col-md-6">

														<div class="form-group">

															<label for="name">Nombre: <span class="text-danger">*</span></label>
															<input type="text" class="form-control" name="name" required>

														</div>

													</div>

													<div class="col-xs-12 col-sm-6 col-md-6">

														<div class="form-group">

															<label for="email">Email: <span class="text-danger">*</span></label>
															<input type="email" class="form-control" placeholder="nombre@ejemplo.com" name="email" required>

														</div>

													</div>

												</div>

												<div class="row gap-20">

													<div class="col-xs-12 col-sm-6 col-md-6">

														<div class="form-group">

															<label for="telephone">Telefono: <span class="text-danger">*</span></label>
															<input type="text" class="form-control" name="telephone" required>

														</div>

													</div>

													<div class="col-xs-12 col-sm-6 col-md-6">

														<div class="form-group">

															<label for="company">Compañía: <span class="text-danger">*</span></label>
															<input type="text" class="form-control" name="company" required>

														</div>

													</div>

												</div>

												<div class="row gap-20">

													<div class="col-xs-12 col-sm-6 col-md-6">

														<div class="form-group">

															<label for="city">Ciudad: <span class="text-danger">*</span></label>
															<input type="text" class="form-control" name="city" required>

														</div>

													</div>

													<div class="col-xs-12 col-sm-6 col-md-6">

														<div class="form-group">

															<label for="state">Estado: <span class="text-danger">*</span></label>
															<input type="text" class="form-control" name="state" required>

														</div>

													</div>

												</div>

												<div class="row gap-20">

													<div class="col-xs-12 col-sm-6 col-md-6">

														<div class="form-group">

															<label for="assistans">Numero de asistentes: <span class="text-danger">*</span></label>
															<input type="number" class="form-control" name="assistants" required>

														</div>

													</div>

												</div>

											</div>

											<button class="btn btn-primary mt-10">Solicitar cotización</button>

										</form>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>
