---
title: Solicitud Completa
description: La solicitud se hizo con éxito
keywords: solicitud, cotizacion
---

<% c = locals[:project] %>

<div class="container pt-60 pb-70">

				<div class="row">

					<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

						<div class="confirmation-wrapper">

							<div class="confirmation-header">

								<div class="icon">

									<i class="ion-ios-checkmark-outline"></i>

								</div>

								<h2>Solicitud Completa</h2>
								<h5 class="text-uppercase text-muted">Gracias</h5>
								<p>La solicitud se hizo con éxito, deberas de recibir la confirmación de solicitud al correo que nos proporcionaste en un lapso no mayor de 12 horas.</p>

							</div>

							<div class="course-list-item-wrapper-2">

								<div class="course-list-item-02">

									<div class="image">
										<img src="<%= c[:course_image] %>" alt="image">
									</div>

									<div class="content">

										<h4 class="text-center text-primary"><%= c[:title] %></h4>

										<ul class="meta-list clearfix">
											<li><i class="fa fa-folder-open-o"></i><span class="block"> <%= c[:area] %></span></li>
											<li><i class="fa fa-pencil-square-o"></i><span class="block"> <%= c[:modules] %> Modulos</span></li>
											<li><i class="fa fa-calendar-check-o"></i><span class="block"> <%= c[:duration] %> Horas</span></li>
										</ul>

									</div>

									<div class="text-center mt-30">

										<a href="/" class="btn btn-primary">Regresar al inicio</a>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>
